 <div class="container">

  <%= form_for [@user, @wiki], :url => user_wiki_path, html: { class: 'form-horizontal' }, :method => "put" do |f| %>
  <% if wiki.errors.any? %>
    <div class="alert alert-block">
      <h4>There are <%= pluralize(wiki.errors.count, "error") %>.</h4>
      <ul>
        <% wiki.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form action="wikiform">
  <div id="marked">

       <div class="eigth columns clearfix">
        <%= control_group_tag(wiki.errors[:title]) do %>
          <%= f.label :title, class: 'control-label' %>
              <div class="regularInput">
                <%= f.text_field :title %>
              </div>
        <% end %>

        <%= control_group_tag(wiki.errors[:body]) do %>
          <%= f.label :body, class: 'control-label' %>
              <div class="controls">
                <%= f.text_area :body, rows: 8 %>
              </div>
        <% end %>
      </div>

      <div>
    
        <div id="markdown_title" style="border:1px solid grey; height:60px;width: 200px; float: right"> </div>        
        <div id="markdown_body" style="border:1px solid gray; height: 200px; width: 200px; float: right"> </div>
       
      </div>

    

        <div class="control-group">
          <%= f.label :public, class: 'control-label' %>
              <div class="controls"> 
                 <%= f.check_box :public %>
              </div>
        </div>


        <div class="sixteen colums">
          <%= f.submit "Save", class: 'button' %>
        </div>
  </div>
<% end %>
 </div>
