<h1>Edit Wikis</h1>

    <p>Guidelines for new wikis:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>

 
    <%= form_for @wiki, html: { class: 'form-horizontal' } do |f| %>
      
    <%= f.label :title, class: 'control-label' %>
  
    <%= f.text_field :title %>
   
    <%= f.label :body, class: 'control-label' %>
     
    <%= f.text_area :body, rows: 8 %>
     
    <%= f.submit "Save", class: 'btn' %>
       
    <% end %>
  
