<div class="container">
<div class="sixteen columns">
  <h1><%= markdown @wiki.title %></h1>
  <p><%= markdown @wiki.body %></p>
</div>

<div class="twelve columns offset-by-two">
  <% if can? :create, Wiki %>
  <%= link_to "New", new_wiki_path, class: 'remove-bottom button' %>
  <% end %>

  <% if can? :edit, @wiki %>
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'remove-bottom button' %>
  <% end %>

  <% if can? :destroy, @wiki %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'remove-bottom button', confirm: 'Are you sure you want to delete this wiki?' %> 
  <% end %>

   <% if false %>
     <% if can? :collaborate, @wiki %>
        <%= link_to "Collaborate", collaborate_wiki_path(@wiki), class: 'remove-bottom button'%> 
    <% end %>
  <% end %>
</div>
</div>


