<!DOCTYPE html>
<!-- The container is a centered 960px -->
<html>


<head>
    <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 </head>

<body>
  <div class="container">
    <div class="sixteen columns">
      <h1>Blocopedia</h1>
    </div>
    <div class="sixteen columns">
      <% if current_user %>
           Hello <%= link_to (current_user.name || current_user.email), current_user %>!
           <%= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
             <i class="icon-user"> </i>
           <% end %>
           <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
             <i class="icon-share-alt"> </i>
           <% end %>
      <% else %>
          <%= link_to "Sign In", new_user_session_path %> or 
          <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>       
    </div>


    

    <div class="eleven columns offset-by-one omega navigation">
        <ul class="align-right">
          <li class="current"><%= link_to "Blocopedia", root_path %></li>
          <li><%= link_to "About", about_path %></li>
        </ul>
    </div>

    
  </div>

        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

    

   
    <%= javascript_include_tag "application" %>
</body>
</html>